@font-face {
  font-family: "Modern"; 
  src: url("../fuentes/ModernAesthetic-DemoVersion-Regular.otf");
}

@font-face {
    font-family: "Actor" ;
    src: url("../fuentes/Actor-Regular.ttf");
}

@font-face {
    font-family: "Montserrat" ;
    src: url("../fuentes/MontserratAlternates-Regular.ttf");
}
@font-face {
    font-family: "Montserrat bold" ;
    src: url("../fuentes/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../fuentes/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fuentes/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Staatliches" ;
    src: url("../fuentes/Staatliches-Regular.ttf");
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Actor";
}
:root{
  --fondo-principal: #4B6DA7;
  --texto-principal: #2D3748;
  --color-marca: #38B2AC;
  --botones: #F6AD55;
  --boton-secundario: #FB7D6D;
  --fondo-secundario: #F5F9FA;
 
}

body {
    background: var(--fondo-secundario);
    font-family: "Actor", sans-serif;

}

header {
    margin: 15px 100px;
}
.imagen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.logo {
    width: 140px;
    color: #008acc;
    font-weight: bold;
    
}

.login-link {
    font-family: "Quicksand", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}



/* Para los circulos superiores con su numero */
.circulos-pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.paso {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #cdd5df;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 15px 6px 6px rgba(0, 0, 0, 0.291);
    transition: .3s;
}

.paso.activo {
    background: var(--color-marca);
    color: white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.439);
}

.linea {
    width: 80px;
    height: 3px;
    background: #cdd5df;
}

/* MAIN Y PANELES */

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 90%;
    margin: auto;
    align-items: start;
    
}
.columna-tres {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Panel 3 */
.main-grid section:nth-child(3) {
    grid-column: 3;
    padding: 20px 25px;
    max-height: 260px; 
    margin-bottom: 30px;
}

/* Panel 4 */
.main-grid section:nth-child(4) {
    grid-column: 3;
    
}

.main-grid section:nth-child(3) h2 {
    margin-bottom: 10px;  
}

.main-grid section:nth-child(3) .radio {
    margin: 8px 0;        
}

.main-grid section:nth-child(3) .radio small {
    display: block;
    font-size: 12px;
    color: #666;
    margin-left: 22px;
}


.main-grid section:nth-child(3) .btn {
    margin-top: 12px;
    padding: 10px;
}

.panel {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    
}

.panel h2 {
    margin-bottom: 20px;
    font-family: "Modern", sans-serif;
    font-weight: lighter;
    text-align: center;
}
.intereses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.intereses label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--fondo-secundario);
    height: 77px;
    border-radius: 15px;
}

.intereses img{
    width: 54px;
    height: 54px;
    margin-right: 15px;
    margin-left: 15px;
}

label {
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-top: 5px;
    background-color: var(--fondo-secundario);
}

.ciudad-provincia {
    display: flex;
    gap: 20px;
}

.cp-nombre{
    flex: 1;
}

.btn {
    margin-top: 20px;
    width: 300px;
    padding: 12px;
    background: var(--botones);
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: "Modern", sans-serif;
    margin-left: 80px;
}
.centrar{
    margin-left: 120px;
}
.btn:hover {
    background: var(--boton-secundario);
}

.btn.enviar {
    background: var(--boton-secundario);
}
.btn.enviar:hover {
    background: #ff462d;
}
.tipo-cuenta {
    width: 600px;
    margin: auto;
    text-align: left; 
}

.opcion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 15px;
    background: #f5fafc;
    padding: 15px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.opcion .info {
    text-align: left; 
}

.opcion input[type="radio"] {
    flex: 0 0 auto;  
    margin: 0;        
    margin-top: 0;    
    width: auto;
    height: auto;
  }

  .info {
    flex: 1;   
    display: block;
  }

  .info strong {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 20px;
  }

  .info p {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 1.3;
  }

  .opcion:hover {
    background-color: var(--color-marca);
  }

  .confirmacion{
    text-align: center;
  }

/* Codigo para seleccionar los tres intereses*/

label.interes.selected {
  border: 2px solid var(--color-marca);
  background-color: #e0ffff;
}

.interes:hover {
    background-color: var(--color-marca);
}