/* =========================== */
/* WIDTH UTILS                 */
/* =========================== */
.h-25 { height: 25%; }
.h-33 { height: 33.33%; }
.h-50 { height: 50%; }
.h-66 { height: 66.66%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }