@import url("../css-common/globals.css");

.rating-wrapper {
    position: relative;
    width: 220px;
    height: 40px;
    user-select: none;
}

.stars {
    display: flex;
    gap: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
    pointer-events: none;
}

.star {
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}

.rating-range {
    position: absolute;
    inset: 0;
    opacity: 0;
    appearance: none;
    cursor: pointer;
}

.rating-range::-webkit-slider-thumb,
.rating-range::-moz-range-thumb,
.rating-range::-ms-thumb {
    appearance: none;
    width: 0; height: 0;
    background: transparent;
}

.rating-disabled {
    pointer-events: none;
    opacity: 0.7;
}
